{% extends "base.html.twig" %}

{% block body %}
	<h1>Meet My Cat 😼</h1>
	{% for owner in owners %}
		<div class="card" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{ owner.firstName }}
					{{ owner.lastName }}
					({{ owner.email }})</h5>
				<p class="card-text">{{ owner.street }}
					{{ owner.postalCode }}
					{{ owner.city }}</p>
				{% if is_granted("IS_AUTHENTICATED_FULLY") %}
					<a href={{path("update_owner", {"id": owner.id} )}} class="btn btn-warning">Modifier</a>
					<a href={{path("delete_owner", {"id": owner.id} )}} class="btn btn-danger">Supprimer</a>
				{% endif %}
			</div>
		</div>
	{% endfor %}
{% endblock %}
